body,
html {
  margin: 0;
  padding: 0;
}

.modal-container {
  width: 100%;
  height: 100vh;
  /* background-color: #000;
  opacity: 0.5; */
  position: absolute;
  z-index: 1;
}

.modal-body {
  width: 80%;
  border: 1px solid #000;
  height: 80vh;
  position: absolute;
  opacity: 1;
  background: #fff;
  top: 10vh;
  left: 10vh;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
}

.close-btn {
  border: none;
  height: 20px;
  width: 20px;
  font-weight: 400;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  margin: 10px;
}